
Herramientas/.DS_Store
informes_minsal/.DS_Store
informes_minsal/.DS_Store
informes_minsal/informes_diarios_Comuna_CSV/.DS_Store
informes_minsal/PDF/.DS_Store
informes_minsal/PDF/.DS_Store
.DS_Store
*/.DS_Store
*__pycache__/
.ipynb_checkpoints
