[submodule "datos_johns_hopkins/--force"]
	path = datos_johns_hopkins/--force
	url = https://github.com/CSSEGISandData/COVID-19
[submodule "datos/COVID19_Chile"]
	path = fuentes/ivanMSC
	url = https://github.com/ivanMSC/COVID19_Chile.git
[submodule "fuentes/MinCiencias"]
	path = fuentes/MinCiencias
	url = https://github.com/MinCiencia/Datos-COVID19.git
[submodule "fuentes/White-Mask"]
	path = fuentes/White-Mask
	url = https://github.com/White-Mask/COVID-19-Chile-Coronavirus
